*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-width: 1200px;
    margin: 0 auto;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
    padding: 1rem;
    border-bottom: 1px solid black;
}

nav img {
    width: 64px;
    height: 64px;
    border-radius: 100%;
}

.blog {
    margin: 1rem 0;
    padding: 1rem;
}

.blogSection {
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
    padding: 0 1rem;
}

.blogCard img {
    display: block;
    width: 100%;
    height: auto;
}

.cardTopBanner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
}

.author {
    display: flex;
}

.author img {
    width: 64px;
    height: 64px;
    border-radius: 100%;
}

.bookmark {
    display: flex;
    align-items: center;
}

.bookmark p {
    margin: 0 1rem;
}

.bookmark img {
    width: 32px;

}

.authorInfo {
    display: grid;
    place-content: center;
    margin: 0 1rem;
}

.readingStats {
    min-width: 260px;
    text-align: center;
    padding: 1rem;
    background: gray;
}

.readingList p {
    background: gainsboro;
    margin: 1rem 0;
    padding: .5rem;
    border-radius: .5rem;
}